header .container-fluid{
    /* background-color: #07294D !important; */
    
}

header .container-fluid img{
    width: 100px;
    height: 100px;
}

header .container-fluid p{
    color: white;
}

/* CARDS */

.cards{
    color: white;
}

.cards .card-footer{
    color: black;
}

.row

.cards .card{
    width: 400px !important;
   
}
.gowen{
    background-color: #C50227;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

.science{
    background-color: #980A25;
    display: grid;
    grid-template-columns: 30% 70%;
}

.art{
    background-color:  #78091E;
    display: grid;
    grid-template-columns: 30% 70%;
}

