body{
    font-family: Quicksand, "Trebuchet MS", Arial, sans-serif;
}

.brand-col{
    background-color: #ff4d29;
    color: white;
}
.brand-col a{
    font-size: 18px;
    font-weight: 700;
}

.nav-icon i span{
    position: relative;
    bottom: 10px;
    background-color: #ff4d29 !important;
}

.nav-icon i .message-badge{
    left: 4px;
}

@media screen and (max-width: 991px ) and (min-width: 869px ) {
    nav .fa-bars{
        position: relative;
        bottom: 3px;
    } 
}


@media screen and (max-width: 868px ) and (min-width: 768px ) {
    .nav-icon i span{
        display: inline;
        position: relative;
        background-color: #ff4d29 !important;
    } 
}

/* NAV INPUT BOX */

.nav-input{
    border-radius: 20px;
    box-shadow: none !important;
}

.nav-icon-input i{
    font-size: 50px;
}

nav .nav-img {
   display:inline-block;
   max-width: 50px;
   height: auto;
   border-radius: 50%;
}

/* Header */

/* Aside */

.aside{
    background-color: rgb(43, 34, 34) !important;
    color: white;
}

aside .aside-img{
   max-width: 100px;
   height: auto;
   border-radius: 50%;
   border:3px solid white;
}


/* Main */

.main-second-row-icon{
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 20px;
    background: #0D47A1;
    color: white;
}
.main-second-row-icon i{
    margin-top: 13px;
}
.main-second-row-icon-red{
   background-color: #ff4d29;
}
.main-second-row-amount{
    position: relative;
    top: 10px;
}


/* Dashboard widget 2 */
.card-widget-2{
    color: white;
}
.main-third-row-icon{
    
}
.main-third-row-icon i{
    font-size: 50px;
}

/* Dashboard widget 3 */


@media screen and (min-height:865px) {
    .aside{
        height: 100vh;
    }
}

@media screen and (max-width:575px) {
    .offcanvas-lg.offcanvas-start{
       width: 300px;
    }
}

@media screen and (max-width:375px) {
    .offcanvas-lg.offcanvas-start{
       width: 200px;
    }
}

