body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.logout{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
}

.logout:hover{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
    opacity: 0.8;
}

nav img{
    max-width: 30%;
    height:40px !important;
}

.dashboard h5{
    color: #40196D;
}

.dashboard-img{
    width: 10%;
}
.dashboard-link{
    text-decoration: none;
    color: #40196D;
}