body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.logout{
    background-color: #40196D;
    border-color: #40196D;
}

nav img{
    max-width: 30%;
    height:40px !important;
}

.dashboard h5{
    color: #40196D;
}
