body{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    /* height: 100vh; */
    /* margin: 0 auto; */
}

nav img{
    max-width: 30%;
    height:40px !important;
}
.sign-in{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
} 
.sign-in:hover{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
    opacity: 0.7;
} 

.sign-up{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
}  

.sign-up:hover{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
    opacity: 0.7;
} 

.header h1{
    color: #40196D;
}
.header .get-the-app-btn{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
}
.header .get-the-app-btn:hover{
    background-color: #40196D;
    border-color: #40196D;
    color: white;
    opacity: 0.7;
}
.footer h6{
    color: #40196D;
}
.footer-media img{
    max-width: 7%;
    height: auto;
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 576px) and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 767px ) {
     .footer-media img{
        max-width: 3%;
        height: auto;
    }
 }
